/* 全局样式设置 */
html,body,#app {
    min-width: 1366px; /* 防止有些内容位置错乱*/
    height: 100%;

    margin: 0;
    padding: 0;
    
}


/*  面包屑导航 */
.el-breadcrumb {
    margin-bottom: 15px;
    font-size:12px ;
}

.el-card {
    box-shadow: 0 1px 1px rgba(0,0,0,.15) !important;
}

.el-table {
    margin-top: 15px;
    font-size: 12px;
}

.el-pagination {
    margin-top: 15px;
}

/* 进度条 */
.el-steps {
    margin: 15px 0;
}
.el-step__title {
  font-size: 13px;
}

/* 富文本编辑器 */
.ql-editor {
    min-height: 300px;
}

